@import "tailwindcss";

@layer base {
  textarea {
    @apply w-full min-h-[200px] lg:min-h-[300px] text-zinc-100 lg:text-lg rounded-xl p-4 bg-zinc-900 border-2 border-zinc-800 focus:border-blue-500 focus:outline-none resize-none disabled:opacity-95 disabled:bg-zinc-700/50 disabled:border-zinc-700 disabled:placeholder:text-zinc-200;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer {
  .btn {
    @apply text-xs text-zinc-400 hover:text-zinc-200 flex gap-2 disabled:text-zinc-500 disabled:cursor-not-allowed;
  }
}

/* From Uiverse.io by aryamitra06 */
.loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}
